<div class="footer">
  <p id="footertext">TK's CFB Site & Links to Other CFB Resources     <a href="http://reddit.com/r/cfb"><i class="fa fa-reddit-alien fa-lg" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/espncfb/?hl=en"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/CFBonESPN/"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
</p>
</div>  