<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Node.js Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link href="style.css" type="text/css" rel="stylesheet"/>

	
	
<!--/*.navbar {*/-->
<!--/*    margin-bottom: 0;*/-->
<!--/*    background-color: #2d2d30;*/-->
<!--/*    border: 0;*/-->
<!--/*    font-size: 11px !important;*/-->
<!--/*    letter-spacing: 4px;*/-->
<!--/*    opacity:0.9;*/-->
<!--/*}*/-->


<!--/*body {*/-->
<!--/*	background-color: #DFE2DB;*/-->
<!--/*	font-family: 'Work Sans', sans-serif;*/-->
<!--/*    margin-left: 20px;*/-->
<!--/*    margin-right: 20px;*/-->
<!--/*    padding-top: 60px;*/-->
<!--/*    padding-bottom: 1000px;*/-->
<!--/*}*/-->


<!--/*.footer { */-->
<!--/*    display: block;*/-->
<!--/*    text-align: center;*/-->
<!--/*    height: 30px;*/-->
<!--/*    margin-top: 10px;*/-->
<!--/*    background-color: #2d2d30;*/-->
<!--/*    font-size: 11px !important;*/-->
<!--/*    opacity:0.9;*/-->
<!--/*    letter-spacing: 4px;*/-->
<!--/*    color: #333;*/-->
<!--/*    box-shadow: 0px 500px 0px 500px #2d2d30; */-->
<!--/*}*/-->
<!--/*.btn-primary {*/-->
<!--/*    margin-top: 10px;*/-->
<!--/*    margin-bottom: 10px;*/-->
<!--/*}*/-->
<!--	</style>-->
</head>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">College Football</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../landing.html">HOME</a></li>
        <li><a href="../heisman.html">HEISMAN WATCH</a></li>
        <li><a href="../playoff.html">PLAYOFF RACE</a></li>
        <li><a href="http://cfbblog-timk10.c9users.io/blog">BLOG</a></li>

        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>